.promo{
  padding-top: res(50, 100);
  padding-bottom: res(50, 100);
  &__video{
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 56.25%;
    iframe{
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      width: 100%;
      height: 100%;
      position: absolute;
    }
  }
}