.woocommerce{
  &-cart, &-checkout{
    overflow-x: hidden;
    padding-top: 101px;
    .header{
      top: 0 !important;
      position: fixed !important;
    }
    table.cart{
      img{
        width: 100px;
        height: auto;
      }
    }
    .sale{
      display: none;
    }
    .cart_totals a.checkout-button{
      float: none !important;
      width: 100%;
      border-radius: 10px;
      font-size: 18px;
      width: 100%;
      background-color: #f5a304;
      font-weight: 700;
      line-height: 1.5em;
      color: #1a1919;
      border: none;
      padding: 14.5px 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: .5s ease;
      @media(min-width:768px){
        &:hover{
          transform: scale(1.02);
          background: #7ed321;
        }
      }
      @media(max-width:767px){
        &:active{
          transform: scale(1.02);
          background: #7ed321;
        }
      }
    }
  }
  h1 {
    font-size: res(26, 32);
    font-weight: 700;
    margin-bottom: 20px;
    text-align: center;
  }
  h2 {
    font-size: res(24, 28);
    font-weight: 500;
    margin-bottom: 15px;
    text-align: left;
  }
  h3 {
    font-size: res(22, 25);
    font-weight: 500;
    margin-bottom: 15px;
  }
  form{
    .form-row{
      label{
        line-height: 1.2;
        font-size: 14px;
        display: block;
        margin-bottom: 4px;
      }
      input, select, textarea{
        display: block;
        width: 100%;
        height: 45px;
        border: 1px solid rgba(#000, .7);
        box-sizing: border-box;
        padding: 0 15px;
        background: none;
      }
      textarea{
        min-height: 150px;
        resize: none;
        padding: 10px 15px;
      }
      .input-checkbox{
        display: inline-block;
        width: 26px;
        height: 26px;
      }
      .woocommerce-privacy-policy-text{
        margin-bottom: 15px;
      }
      button[type="submit"]{
        float: none !important;
        width: 100%;
        border-radius: 10px;
        font-size: 18px;
        width: 100%;
        background-color: #f5a304;
        font-weight: 700;
        line-height: 1.5em;
        color: #1a1919;
        border: none;
        padding: 14.5px 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: .5s ease;
        @media(min-width:768px){
          &:hover{
            transform: scale(1.02);
            background: #7ed321;
          }
        }
        @media(max-width:767px){
          &:active{
            transform: scale(1.02);
            background: #7ed321;
          }
        }
      }
    }
  }
  form.checkout{
    position: relative;
    @media(min-width:768px){
      display: flex;
      justify-content: space-between;
    }
    .col2-set{
      @media(min-width:768px){
        width: calc(50% - 15px);
      }
      & + h3{
        @media(min-width:768px){
          position: absolute;
          width: calc(50% - 15px);
          top: 0;
          left: calc(50% + 30px);
        }
      }
      .col-1, .col-2{
        float: none;
        width: 100%;
      }
      .col-2{
        margin-top: 30px;
      }
    }
    .woocommerce-checkout-review-order{
      @media(min-width:768px){
        width: calc(50% - 15px);
        padding-top: 52.5px;
      }
    }
    table.shop_table{
      border-color: rgba(#000, .7);
      td, th{
        border-color: rgba(#000, .7);
      }
    }
  }
  ul.order_details li{
    @media(max-width:767px){
      float: none !important;
      border: none;
      border-bottom: 1px dashed #cfc8d8;
      padding: 6px 0;
    }
  }
}
